*{
    margin: 0;
    padding: 0;
    font-family: Playfair,sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
}
#header{
    width: 100%;
    height: 110vh;
    background-image:url(https://i.ibb.co/Z8ptmMD/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
    top: 0;
}
.containerHead{
    padding: 10px 10%;
    top: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav img{
    width: 200px;
    height: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content:"";
    width: 0;
    height: 3px;
    background: #ffcc00;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
     width: 100%;
     
}
.header-text{
    color: white;
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ffcc00;
}

#about{
    padding:80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 video {
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #ffcc00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #e0b300;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

#services{
    color: white;
    padding: 30px 0;
}

.services-list p{
    font-weight: 200;
    font-size: 14px;
    text-justify: center;
}

.services-list a{
    cursor: pointer;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    margin-top: 20px;
}
.services-list div:hover{
    background:#e0b300;
    transform: translateY(-10px);
}

#portfolio{
    padding: 50px 0;
    color: white;
}

.work-list1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 50px;
}
.work-list2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-top: 50px;
}

.work-list3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    margin-top: 50px;
}

.work-list3 iframe{
    height: 300px;
    width: 250px;
}

.work-list3 h3{
    text-align: center;
}
.title
{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 500;
    color:#ffcc00;
    align-self: center;
    text-align: center;
}

.work{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.workModel{
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0 10px;
    background: #262626;
}

.workModel .model3D
{
    width: 100%;
    border-radius: 10px;
    display: block; 
}

.workModel a{
    margin-top: 20px;
    color: #ffcc00;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.workModel h3{
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.workModel p{
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px;
}

.work img{
    width: 100%;
    border-radius: 30px;
    display: block; 
    transition: transform 0.5s;
}

.work h3{
    margin-top: 50px;
}

.work p{
    font-size: 11px;
    font-weight: 500;
}

.work a{
    margin-bottom: 20px;
}

#portfolio .kindtitle{
    margin-top: 60px;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #ababab;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ffcc00);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 18px;
}
.layer a{
    margin-top: 20px;
    color: #ffcc00;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform:scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

footer{
 background-color: #101010;
 font-family: Arial, Helvetica, sans-serif;
}

.footerContainer
{
 width: 100%;
 padding: 10px,0px,10px;
}

footer a{
 text-decoration: none;
 background-size: 5em;
 background-position: center;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 5em;
 border: rgb(255 255 255 / .4) 2px solid;
 margin-top: calc(var(--index) * 10);
 outline: none;
}

.socialIcons{
 display: flex;
 justify-content:center;
}

.socialIcons a{
 text-decoration: none;
 padding: 10px;
 background-color: white;
 margin: 10px;
 border-radius: 50%;
 width: 65px;
 height: 65px;
}

.socialIcons a i{
 font-size: 2em;
 color: black;
 opacity: 0.9;
}
.socialIcons a:hover{
 background-color: #111;
 transition: 0.5s;
}

.socialIcons a:hover i{
 color: white;
 transition: 0.5s;
}

.footerNav{
 margin: 1px 0;
}

.footerNav ul{
 display: flex;
 justify-content: center;
}

.footerNav ul li a{
 color: white;
 margin: 20px;
 text-decoration: none;
 font-size: 1.3em;
 opacity: 0.7;
 transition: 0.5s;
 border-radius: 0em;
 outline: none;
 border: rgba(27, 27, 27, 0) 0px solid;
}

.footerNav ul li a:hover{
 opacity: 1;
}

.footerBottom{
background-color: #101010;
padding: 15px;
text-align: center;
}

.footerBottom p{
color: white;
}
.footerBottom .communication{
    text-decoration: underline;
    margin-bottom: 20px;
}

.designer{
 font-weight: 700;
}

nav .fa{
    display: none;
}
html{
    scroll-behavior: smooth;
}
#chat-section {
    padding: 50px 0;
    text-align: center;
  }
  
  .chat-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }

  df-messenger {
    --df-messenger-bot-message: #ffcc00;
    --df-messenger-user-message: #e0b300;
    --df-messenger-font-color: #000000;
    --df-messenger-chat-background-color: #262626;
    --df-messenger-titlebar-background: #ffcc00 !important;
    --df-messenger-send-icon: #ffcc00;
    --df-messenger-button-titlebar-color: #f3c200 !important;
    --df-messenger-minimized-icon-color: #ffcc00 !important;
  }
@media only screen and (max-width:1000px){
    .work-list1{
        grid-template-columns: 1fr;
    }
    .work-list2{
        grid-template-columns: 1fr;
    }
    .work-list3{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width:700px){
    #header{
        background-image:url(https://i.ibb.co/JB9VJ43/backgroundsmall.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ffcc00;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        margin: 10px;
        text-align: center;
        width: 100%;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .chat-wrapper {
        max-width: 100%;
        padding: 0 10px;
    }
}